<!DOCTYPE <!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lessons</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <!--Lesson page-->
        <section v-if="activePage === 'lessons'">
            <!--Sorting-->
            <section class="sorting">
                <select v-model="sortBy">
                <option value="price">Price</option>
                <option value="space">Space</option>
                <option value="location">Location</option>
                <option value="topic">Topic</option>
            </select>
                <!--Sorting order by either ascending or descending-->
                <select v-model="sortOrder">
                <option value="asc">ASC</option>
                <option value="des">DES</option>
            </select>
                <input placeholder="Type to search Lesson" class="search" v-model="searchTerm">
            </section>

            <!--setting up the lessons-->
            <section class="lessons-setup">
                <!--individual lesson setups-->
                <div class="lesson-list" v-if="sortedLessons.length">
                    <article v-for="(lesson, index) in sortedLessons" :key="lesson.id" class="lesson">
                        <div class="lesson-left">
                            <img :src="`https://adelmar-lessons.herokuapp.com/public/${index+1}.jpeg`" alt="lesson image" class="lesson-img" />
                            <!-- <img :src="`http://localhost:3000/app/img${index+1}.jpeg`" alt="lesson image" class="lesson-img" /> -->
                            <h1 class="lesson-ttl">{{lesson.topic}}</h1>
                            <button :class="lesson.space === 0 ? 'disabled-purchase-bttn':'purchase-bttn'" @click="purchaseLesson(lesson)">Purchase Lesson</button>
                        </div>
                        <div class="lesson-right">
                            <p class="lesson-desc" v-html="lesson.description"></p>
                            <p>
                                <span class="fa fa-globe"></span>
                                <span>{{lesson.location}}</span>
                            </p>
                            <p>
                                <span class="fa fa-money"></span>
                                <span>{{lesson.price}}</span>
                            </p>
                            <p>
                                <span class="fa fa-user"></span>
                                <span>{{lesson.space}}</span>
                            </p>
                            <p v-if="lesson.space ===0">Out Of Stock</p>
                            <p v-else-if="lesson.space < 5">There are {{lesson.space}} left.</p>
                            <p v-else>Get yours before its gone</p>
                        </div>
                    </article>
                </div>
                <div v-else>No lessons available.</div>
            </section>
        </section>
        <!--confirmation page-->
        <section v-else>
            <!--will provide a confirm notice once lesson is selected-->
            <article class="order-tab">
                <h3>Confirm that <u>{{targetLesson.topic}}</u> is the Correct lesson</h3>
            </article>

            <article class="confirm-tab">
                <div class="input-info">
                    <label for="name">Enter Your Name</label>
                    <input v-model="name" type="text" placeholder="John Doe">
                </div>
                <div class="input-info">
                    <label for="name">Enter Phone Number</label>
                    <input v-model="phone" type="text" placeholder="07542343212">
                </div>
                <button :class="checkChkout ? 'confirm-bttn' : 'disabled-confirm-bttn'" @click="confirm">Confirm</button>
                <button class="cancel-bttn" @click="togglePage">Cancel</button>
            </article>
        </section>
    </div>
    <script src="./public/vue.js"></script>
</body>

</html>